<div class="all-calendar" data-controller="calendar">
  <div class="upper-calendar">
    <h2><%= Date.today.strftime("%B") %></h2>
    <div class="d-flex justify-content-evenly ">
      <%day = Date.today%>
      <% while day < Date.today + 7 %>
        <p><strong><%= day.strftime("%A")[0] %></strong></p>
        <% day = day + 1 %>
      <% end %>
    </div>
    <div class="d-flex justify-content-evenly">
      <%day = Date.today%>
      <% while day < Date.today + 7 %>
        <p data-id="<%= day.day %>" data-action="click->calendar#reveal" class="<%="blanc" if day == Date.today%>"><%= day.day %></p>
        <% day = day + 1 %>
      <% end %>
    </div>
  </div>

  <div class="calendar">
    <div class="durian">
      <%day = Date.today%>
      <% while day < Date.today + 7 %>
        <div class="day <%="active" if day == Date.today%>" data-id="<%= day.day %>">
          <div class="time">
            <% unless @meals.where(date: day, time_of_day: "Breakfast").empty? %>
             <h5><strong>Breakfast</strong></h5>
            <% end %>
            <div class="time-of-day">
              <% unless @meals.where(date: day, time_of_day: "Breakfast").empty? %>
                <% @meals.where(date: day, time_of_day: "Breakfast").each do |meal| %>
                  <div class="calendar-card">
                    <% if meal.meal.photo.attached? %>
                      <%= cl_image_tag meal.meal.photo.key%>
                    <%end%>
                    <div class="calendar-card-infos">
                      <p><%= link_to meal.meal.name, meal_path(meal.meal)%></p>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="time">
          <% unless @meals.where(date: day, time_of_day: "Lunch").empty? %>
           <h5><strong>Lunch</strong></h5>
          <% end %>
            <div class="time-of-day">
              <% unless @meals.where(date: day, time_of_day: "Lunch").empty? %>
                <% @meals.where(date: day, time_of_day: "Lunch").each do |meal| %>
                  <div class="calendar-card">
                    <% if meal.meal.photo.attached? %>
              <%= cl_image_tag meal.meal.photo.key%>
          <%end%>
                    <div class="calendar-card-infos">
                      <p><%= link_to meal.meal.name, meal_path(meal.meal)%></p>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="time">
            <% unless @meals.where(date: day, time_of_day: "Dinner").empty? %>
              <h5><strong>Dinner</strong></h5>
            <% end %>
            <div class="time-of-day">
              <% unless @meals.where(date: day, time_of_day: "Dinner").empty? %>
                <% @meals.where(date: day, time_of_day: "Dinner").each do |meal| %>
                  <div class="calendar-card">
                    <% if meal.meal.photo.attached? %>
              <%= cl_image_tag meal.meal.photo.key%>
          <%end%>
                    <div class="calendar-card-infos">
                      <p><%= link_to meal.meal.name, meal_path(meal.meal)%></p>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="time">
            <% unless @meals.where(date: day, time_of_day: "Snack").empty? %>
             <h5><strong>Snack</strong></h5>
            <% end %>
            <div class="time-of-day">
              <% unless @meals.where(date: day, time_of_day: "Snack").empty? %>
                <% @meals.where(date: day, time_of_day: "Snack").each do |meal| %>
                  <div class="calendar-card">
                    <% if meal.meal.photo.attached? %>
              <%= cl_image_tag meal.meal.photo.key%>
          <%end%>
                    <div class="calendar-card-infos">
                      <p><%= link_to meal.meal.name, meal_path(meal.meal)%></p>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="time">
            <% unless @meals.where(date: day, time_of_day: "Assault the fridge at 2am").empty? %>
              <h5><strong>Midnight Snack</strong></h5>
            <% end %>
            <div class="time-of-day">
              <% unless @meals.where(date: day, time_of_day: "Assault the fridge at 2am").empty? %>
                <% @meals.where(date: day, time_of_day: "Assault the fridge at 2am").each do |meal| %>
                  <div class="calendar-card">
                    <% if meal.meal.photo.attached? %>
              <%= cl_image_tag meal.meal.photo.key%>
          <%end%>
                    <div class="calendar-card-infos">
                      <p><%= link_to meal.meal.name, meal_path(meal.meal)%></p>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
          <% day = day + 1 %>
        </div>
      <% end %>
    </div>
  </div>
</div>
