

<div class="card" id="profile_card">
    <div class= "container" id="container_profile">

      <div class="" id="profile_picture">
        <%= image_tag "https://res.cloudinary.com/dwalfnpav/image/upload/v1724774599/Profile_thhd08.webp", alt: "profile_picture", class: "scaled-image"%>
      </div>

      <div class="" id="full_name">
          <%= @user.first_name %>
          <%= @user.last_name %><br/>

      </div>

      <div class="" id="age">
        <p class="profile_age"><strong>Age:</strong> <%= @user.age %></p>
      </div>


    </div>

    <div class="d-flex align-items-center mb-4">
      <i class="fa-solid fa-house me-5"></i>
      <p class="mb-0"><%= @user.address %></p>
    </div>

    <div class="d-flex align-items-center">
      <i class="fa-regular fa-envelope me-5"></i>
      <p class="mb-0"><%= @user.email %></p>
    </div>

    <div class="mt-5" id="diets_details">

      <div class="d-flex align-items-center">
        <div class="profile_diets_headers">Dietary restrictions:</div>
        <% if (Diet.all - @user.diets).any? %>
          <div class="user_diets_form">
            <%= simple_form_for(@user_diet, html: { id: "user_diet_form" }) do |f| %>
              <%= f.input :diet_id, collection: Diet.all - @user.diets, prompt: "+", input_html: { onchange: "this.form.submit();", class:"input_field diets_input" }, wrapper: false, label: false %>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="profile_diets d-flex flex-wrap gap-3">
        <% @user.user_diets.each do |user_diet| %>
          <div class="d-flex">
            <div class="remove_button">
              <%= link_to "-", user_diet_path(user_diet), data: {turbo_method: :delete} %>
            </div>
            <span class="diet_item">
              <%= user_diet.diet.name %>
            </span>
          </div>
        <% end %>
      </div>
    </div>
</div>
