
<div class="navbar navbar-expand-sm navbar-light navbar-tumenu">
  <div class="container-fluid" id="container_nav">
    <%= link_to meals_path do %>
      <h1 id="logo">TÚMENU</h1>
    <% end %>
    <% unless current_user %>
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-success", type: "button", id: "sign_up_button" %>
    <% else %>
      <div id="asparagus" data-controller="toggle">
      <i class="bi bi-list" data-action="click->toggle#fire2"></i>
        <div id="profile_options" class="d-none" data-toggle-target="togglableElemento">
          <%= link_to "Create a Post", new_meal_path%>
          <%= link_to "Log Out", destroy_user_session_path, data: {turbo_method: :delete}%>
        </div>
        <% if current_user.profile_picture.attached? %>
          <%= link_to profile_path(current_user) do %>
            <%= cl_image_tag current_user.profile_picture.key, alt:"user Image", class:"avatar", style:"object-fit: cover"%>
          <% end %>
        <% else %>
          <%= link_to profile_path(current_user) do %>
            <%= image_tag "https://res.cloudinary.com/do9ythsfg/image/upload/v1725461237/default-avatar-icon-of-social-media-user-vector_xldyl1.jpg" , alt:"user Image", class:"avatar", style:"object-fit: cover"%>
          <% end %>
        <%end%>
      </div>
    <% end %>
  </div>
</div>
