<h2 id="mod-title"><i><%= "#{list.first.cuisine} food".upcase %></i></h2>
<div style = "padding: 5%;" id="carousel_<%=index%>" class="carousel slide" data-bs-ride="carousel">
    <div style = "padding: 5%;" class="carousel-inner">
      <% list.in_groups_of(1, false).each_with_index do |group, index| %>
        <div class="carousel-item <%= 'active' if index == 0 %>">
            <% group.each do |meal| %>
              <%= render "carocard", meal: meal %>
            <% end %>
        </div>
      <% end %>
    </div>


  <a class="carousel-control-prev" href="#carousel_<%=index%>" role="button" data-bs-slide="prev">
    <span style = "background-image: url(<%= asset_path("flecha_i.png") %>)" class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel_<%=index%>" role="button" data-bs-slide="next">
    <span style = "background-image: url(<%= asset_path("flecha_d.png") %>)"; class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>
