
<div class = "meal_background_image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.0),rgba(0, 0, 0, 0.2)), url(<%= cl_image_path @meal.photo.key%>)">
  <div data-controller="toggle" class = "calendar_button">
    <button data-action="click->toggle#fire" class="remolacha">+ Add to calendar</button>
    <div id="cal_form">
      <div data-toggle-target="togglableElement" class="d-none ">
        <%= simple_form_for([@meal, @user_meal]) do |f| %>
          <%= f.input :date%>
          <%= f.input :time_of_day, collection: UserMeal::TIMES, as: :select, id:"time_of_day" %>
          <%= f.submit "Add to calendar", class: "btn btn-primary w-100", id: "btn_post" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class = "meal_intro">
  <h1><%= @meal.name %></h1>
  <p><%= @meal.description %><p>
</div>

<div class = "description">
  <div class = "ingredients">
    <h2>Ingredients:</h2>
    <ul>
      <%@meal.meal_ingredients.includes(:ingredient).each do |meal_ingredient| %>
        <li> <%= meal_ingredient.quantity %> <%= meal_ingredient.ingredient.unit %> <%= meal_ingredient.ingredient.name %></li>
      <% end %>
    </ul>
  </div>

  <div class = "recipe">
    <h2>Instructions:</h2>
    <p><%= @meal.recipe %></p>
  </div>
</div>
<br>
<h3 style = "padding-left: 15px; ">Reviews</h3>
<div class= "review_form" >
  <%= simple_form_for([@meal, @review]) do |f| %>
    <div class="d-flex review-form-content">
      <%= f.input :content, placeholder: "Write a review...", label: false%>
      <%= f.input :rating, placeholder: "Rate it...", label: false, as: :numeric %>
    </div>
      <%= f.submit "Submit", class: "btn btn-primary"%>
  <% end %>

  <% @meal.reviews.each do |review| %>
    <div class= "review-card">
        <div class="notification">

        <div class="notification-content">
          <% if review.user.profile_picture.attached? %>
              <%= cl_image_tag review.user.profile_picture.key, alt:"Profile Image", class:"avatar-large"%>
          <%end%>
          <p><%= review.user.first_name %> <%= review.user.last_name %></p>
        </div>
        <div class = "stars">
          <% review.rating.times do  %>
            <i class="fa-solid fa-star"></i>
          <% end %>
          <% (5 - review.rating).times do %>
            <i class="fa-regular fa-star" style="padding-bottom: 10px;"></i>
          <% end %>
        </div>
        <p><%=review.content %></p>
        <% if review.user == current_user%>
          <div class="notification-actions">
            <a href="#">Edit <i class="fas fa-pencil-alt"></i></a>
            <a href="#">Delete <i class="far fa-trash-alt"></i></a>
          </div>
        <%end%>

      </div>
    </div>
<% end %>
</div>


